# --- Build and Test Outputs ---
target/
test-output/
test-results/
bin/
out/
*.class
*.jar
*.war
*.ear

# --- Playwright Specifics ---
# Excludes browser binaries, reports, and session data
playwright-report/
blob-report/
playwright/.local-browsers/
target/videos/
target/screenshots/
target/state.json

# --- Allure Reporting ---
# Exclude raw results, generated reports, and CLI tool data
allure-results/
allure-report/
.allure/

# --- IDE Specifics (Eclipse, IntelliJ, VS Code) ---
.settings/
.project
.classpath
.idea/
*.iml
.vscode/

# --- Operating System ---
.DS_Store
Thumbs.db

# --- Log files ---
*.log

# --- TestNG Specifics ---
temp-testng.xml
testng-failed.xml
testng-results.xml

# --- Configuration & Secrets ---
# src/test/resources/config.properties
